*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title{
    width: 100%;
    height: 5vh;
    font-size: 6vh;
    text-align: center;
}

.nav{
    display: flex;
    width: 100%;
    height: 8vh;
}

.nav-btn{
    flex: auto;
    border: 1px solid #000;
    font-size: 2vh;
}

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    height: 80vh;
    border: 1px solid #000;
    border-radius: 0.5em;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.node{
    width: 10%;
    margin: auto;
}

.node-btn{
    padding: 0;
    width: 100%;
    height: 7vh;
    border: 1px solid #000;
    background-color: white;
    color: black;
    font-size: 2vh;
    border-radius: 0.5em;
}

.node-btn:hover{
    background-color: lightgray;
}

.left{
    position: relative;
    pointer-events: none;
    width: 50%;
    height: 100%;
    border-right: 1px solid #000;
}

.right{
    position: relative;
    pointer-events: none;
    width: 50%;
    height: 100%;
}

.info{
  text-align: center;
  padding-top: 2vh;
}

.dropdown{
    position: fixed;
    min-width: 100px;
    width: 10vw;
    height: 25.1vh;
    top: 70vh;
    overflow: visible;
    border: #000 solid 2px;
    font-size: 3vh;
    border-radius: 0.3em;
}

.arrow{
    position: absolute;
    min-width: 10px;
    top: -1.8vh;
    left: 4.3vw;
    width: 1.5vw;
    height: 2.5vh;
    margin: 0 0;
    text-align: center;
    background-color: white;
}

.value{
    width: 100%;
    height: 4vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    border-radius: 0.2em;
    text-align: center;
}

.dropdown-btn{
    width: 100%;
    height: 4vh;
    border-radius: 0.3em;
    font-size: 2vh;
    border: none;
}

.enter{
    color: black;
    background-color: white;
}

.enter:hover{
    color: white;
    background-color: grey;
}

.shift{
    color: black;
    background-color: white;

}

.shift:hover{
    background-color: grey;
    color: white;
}

.remove {
    color: red;
    background-color: white;
}

.remove:hover{
    color: white;
    background-color: red;
}

.hide{
    display: none !important;
}